---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(storeId=2953)?apiKey=a8k7nnexb87aa9hb3zzqbgf7&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-122.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 1,
          "total": 1,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.003",
          "totalTime": "0.006",
          "partial": false,
          "canonicalUrl": "/v1/stores(storeId=2953)?format=json&apiKey=a8k7nnexb87aa9hb3zzqbgf7",
          "stores": [
            {
              "storeId": 2953,
              "storeType": "Mobile",
              "tradeIn": "Trade-In - No receipt (biometric)",
              "name": "Flatiron Crossing Mall ",
              "longName": "Best Buy Mobile - Flatiron Crossing Mall ",
              "address": "1 W Flatiron Crossing Dr",
              "address2": "Ste. 2196",
              "city": "Broomfield",
              "region": "CO",
              "fullPostalCode": "80021",
              "country": "US",
              "lat": 39.93317,
              "lng": -105.132383,
              "hours": "Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 11-6",
              "hoursAmPm": "Mon: 10am-9pm; Tue: 10am-9pm; Wed: 10am-9pm; Thurs: 10am-9pm; Fri: 10am-9pm; Sat: 10am-9pm; Sun: 11am-6pm",
              "gmtOffset": -7,
              "services": [
                {
                  "service": "Best Buy Mobile Specialty Store"
                },
                {
                  "service": "Electronics Recycling"
                }
              ],
              "phone": "303-466-8624",
              "postalCode": "80021"
            }
          ]
        }
  recorded_at: Tue, 20 Sep 2016 17:30:33 GMT
recorded_with: VCR 3.0.3
